<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <description>spring_shopProject</description>
  <display-name>shop</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>shop.webapp.root</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/config/applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>velocityConfigLocation</param-name>
    <param-value>/WEB-INF/config/velocity.properties</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.project.shop.http.MultiCharacterEncodingFilter</filter-class>
    <!-- <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> -->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>eucEncoding</param-name>
      <param-value>euc_kr</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
     <!-- listener-class에 등록되어 있는 Log4jConfigListener는 log4j라는 로깅 프레임워크를 초기화 하는 클래스이다.
         이 클래스를 초기화 할 때 log4jConfigLocation context-param을 넘겨준다. --> 
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/controllerContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
<!--   <error-page>
    <error-code>404</error-code>
    <location>/common/pageNotFound</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/pageNotFound</location>
  </error-page>   -->
   <security-constraint>
       <display-name>Http Method Non-use</display-name>
       <web-resource-collection>
	        <web-resource-name>Forbidden HTTP  Method</web-resource-name>
	        <url-pattern>/*</url-pattern>
	        <http-method>HEAD</http-method>
	        <http-method>DELETE</http-method>
	        <http-method>PUT</http-method>
	        <http-method>OPTIONS</http-method>
	        <http-method>TRACE</http-method>
       </web-resource-collection>
	   <auth-constraint>
	       <role-name></role-name>
	   </auth-constraint>          
   </security-constraint>
</web-app>